
<div id="example">
    <div class="demo-section">
        <div id="validation-success"></div>
        <h5>Create Quotation</h5>
        <form id="createForm"></form>
        <br/>
        <div class="row">
            <div class="col-6">
                <form id="costingForm"></form>
            </div>
            <div class="col-6">
                <form id="rentalSumForm"></form>
            </div>
        </div>
        
    </div>

    <script>
        $(document).ready(function () {
            var validationSuccess = $("#validation-success");

            $("#costingForm").kendoForm({
                orientation: "vertical",
                formData: {
                    IssueDate: new Date(),
                    ExpiryDate: new Date(),
                    RentalStartDate: new Date(),
                    RentalEndDate: new Date(),
                    RentalDuration: 0
                },
                items: [
                    {
                    type: "group",
                    label: "Costing Details",
                    items: [
                            { field: "IssueDate", label: { text: "Quotation Date", optional: true } },
                            { field: "ExpiryDate", label: { text: "Quotation Expiry Date", optional: true } },
                            { field: "RentalStartDate", label: { text: "Rental Start Date", optional: true } },
                            { field: "RentalEndDate", label: { text: "Rental End Date", optional: true } },
                            { field: "RentalDuration", label: "Rental Duration"}
                            
                    ]
                    }],
                validateField: function (e) {
                    validationSuccess.html("");
                },
                submit: function (e) {
                    SaveQuotationDetails(e.model);
                    alert("");

                },
                clear: function (ev) {
                    validationSuccess.html("");
                }
            });

            $("#rentalSumForm").kendoForm({
                orientation: "vertical",
                formData: {
                    TotalRentalCost: 0,
                    TotalAdditionalCost: 0,
                    TotalAmount: 0,
                    TotalNoOfVehicles: 0
                },
                items: [
                    {
                        type: "group",
                        label: "Rental Sum",
                        items: [
                            { field: "TotalRentalCost", label: { text: "Total Rental Cost", optional: true } },
                            { field: "TotalAdditionalCost", label: { text: "Total Additional Cost", optional: true } },
                            { field: "TotalAmount", label: { text: "Total Amount", optional: true } },
                            { field: "TotalNoOfVehicles", label: { text: "Total No Of Vehicles", optional: true } }

                        ]
                    }],
                validateField: function (e) {
                    validationSuccess.html("");
                },
                submit: function (e) {
                    SaveQuotationDetails(e.model);
                    alert("");

                },
                clear: function (ev) {
                    validationSuccess.html("");
                }
            });

            $("#createForm").kendoForm({
                orientation: "horizontal",
                formData: {
                    ExpiryDate: new Date(),
                },
                layout: "grid",
                grid: {
                    cols: 3,
                    gutter: 10
                },
                items: [
                    {
                        type: "group",
                        items: [
                            {
                                field: "Company", editor: "DropDownList", label: "Company", validation: { required: true }, editorOptions: {
                                    optionLabel: "Select item...",
                                    dataSource: [
                                        "AVIS",
                                        "Company 2"
                                    ],
                                }
                            },
                            {
                                field: "Debitor", editor: "DropDownList", label: "Debitor",
                                editorOptions: {
                                    optionLabel: "Select item...",
                                    dataSource: [
                                        "Corporate Customer 1",
                                        "Corporate Customer 2"
                                    ],
                                }
                            },
                            { field: "Email", label: "Email:", validation: { email: true } },
                            {
                                field: "IDType", editor: "DropDownList", label: "ID Type",
                                editorOptions: {
                                    optionLabel: "Select item...",
                                    dataSource: [
                                        "Passport/EID",
                                        "Emirates ID"
                                    ],
                                }
                            },
                            { field: "ExpiryDate", label: { text: "Expiry Date", optional: true } }
                        ]
                    },
                    {
                        type: "group",
                        items: [
                            {
                                field: "Branch", editor: "DropDownList", label: "Branch", validation: { required: true }, editorOptions: {
                                    optionLabel: "Select item...",
                                    dataSource: [
                                        "AVIS",
                                        "Branch 2"
                                    ],
                                }
                            },
                            {
                                field: "Name",
                                label: "Customer Name",
                                validation: { required: true }
                            },
                            {
                                field: "Category", editor: "DropDownList", label: "Customer Category", validation: { required: true }, editorOptions: {
                                    optionLabel: "Select item...",
                                    dataSource: [
                                        "Resident",
                                        "Tourist"
                                    ],
                                }
                            },
                            {
                                field: "IDNumber",
                                label: "ID No",
                                validation: { required: true }
                            },
                            {
                                field: "AddressLine",
                                editor: "TextArea",
                                label: "Address Line"
                            }
                        ]
                    }, {
                        type: "group",
                        items: [
                            {
                                field: "QuotationCategory", editor: "DropDownList", label: "Quotation Category", validation: { required: true }, editorOptions: {
                                    optionLabel: "Select item...",
                                    dataSource: [
                                        "Domestic",
                                        "International"
                                    ],
                                }
                            },
                            {
                                field: "Phone",
                                editor: "NumericTextBox",
                                label: "Phone",
                                validation: { required: true }
                            }
                        ]

                    }
                ],
                validateField: function (e) {
                    validationSuccess.html("");
                },
                submit: function (e) {
                    e.preventDefault();
                    console.log(e);
                    // $("#exampleform").submit();
                    SaveQuotationDetails(e.model);
                    alert("");

                },
                clear: function (ev) {
                    validationSuccess.html("");
                }
            });
        });
        function SaveQuotationDetails(e) {
            $.ajax({
                type: "POST",
                data: JSON.stringify(e),
                url: "/Quotation/CreateQuotation",
                //dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    // Handle the successful response from the server
                    validationSuccess.html("<div class='k-messagebox k-messagebox-success'>Form data is valid!</div>");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Handle the error response from the server
                    alert("Error saving data: " + errorThrown);
                }
            });
        }

    </script>

</div>