
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    @Html.Partial("CostDetailsAddEdit.cshtml")
</div>


<br/>
<div>
    @Html.Partial("CostDetailsGrid.cshtml")
</div>
@{
}
